<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="../static/js/jquery.js"></script>
<script type="text/javascript">
$(function(){
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})
})
</script>


</head>

<body style="background:url(../static/images/topbg.gif) repeat-x;">

    <div class="topleft">
    <a href="main.html" target="_parent"><img src="../static/images/logo.png" title="学生信息管理系统首页" /></a>
    </div>

    <ul class="nav">
    <li><a href="admin_index.html" target="rightFrame" class="selected"><img src="../static/images/icon01.png" title="首页" /><h2>首页</h2></a></li>
    <li><a href="tools.html"  target="rightFrame"><img src="../static/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
    </ul>

    <div class="topright">
    <ul>
    <li><span><img src="../static/images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
    <li><a href="login.html" target="_parent">退出</a></li>
    </ul>

    <div class="user">
    <span>邓果</span>
    </div>

    </div>
</body>
</html>
