<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="../static/js/jquery.js"></script>

<script type="text/javascript">
$(function(){
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});

	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>功能列表</div>

    <dl class="leftmenu">

    <dd>
    <div class="title">
    <span><img src="images/leftico01.png" /></span>信息发布
    </div>
    	<ul class="menuson">
        <li><cite></cite><a href="member_info.html" target="rightFrame">发布公共信息</a><i></i></li>
        <li class="active"><cite></cite><a href="right.html" target="rightFrame">发布考试信息</a><i></i></li>
        <li><cite></cite><a href="imgtable.html" target="rightFrame"> 发布成绩</a><i></i></li>
        <li><cite></cite><a href="form.html" target="rightFrame">课表查询</a><i></i></li>
        </ul>
    </dd>


    <dd>
    <div class="title">
    <span><img src="../static/images/leftico02.png" /></span>信息维护
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="form.html" target="rightFrame">成员授权</a><i></i></li>
        <li><cite></cite><a href="form.html" target="rightFrame">修改成员信息</a><i></i></li>
        <li><cite></cite><a href="update_pswd.html" target="rightFrame">留言板管理</a><i></i></li>
        </ul>
    </dd>


    <dd><div class="title"><span><img src="../static/images/leftico03.png" /></span>选课系统</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">更新选课系统</a><i></i></li>
        </ul>
    </dd>

        <dd><div class="title"><span><img src="../static/images/leftico04.png" /></span>教学质量评价</div>
            <ul class="menuson">
            <li><cite></cite><a href="#">发布教学评价页面</a><i></i></li>
    </dl>
</body>
</html>
