<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/select.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/uikit.min.css">
    <link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/cloud.js"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/sha1.min.js"></script>
    <script type="text/javascript" src="../static/js/uikit.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/awesome.js"></script>
    <script type="text/javascript" src="../static/editor/kindeditor.js"></script>
    <script type="text/javascript" src="../static/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="../static/js/select-ui.min.js"></script>


    <script type="text/javascript">
    KE.show({
        id : 'content7',
        <!--cssPath : './index.css'-->
    });



    </script>

    <script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345
	});
	$(".select2").uedSelect({
		width : 167
	});
	$(".select3").uedSelect({
		width : 100
	});
});

$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            comment: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    <!--user = this.user.trim().toLowerCase(),-->
                    data = {
                        comment: this.comment
                    };
                $form.postJSON('/publish_comment
                ', data, function(err, result) {
                    if (! err) {
                        location.assign('/success.html');
                    }
                });
            }
        }
    });
});





    </script>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">留言板</a></li>
    </ul>
</div>

<div class="formbody">


    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">留言板</a></li>
            </ul>
        </div>
        <form id="vm" v-on="submit: submit">
            <div id="tab1" class="tabson">

                <li><label>留言内容<b>*</b></label>

                    <textarea id="content7" v-model='comment' name="comment"  type=""
                              style="width:700px;height:250px;visibility:hidden;"></textarea>

                </li>

                <br>
                <li><input type="submit" class="btn" value="发布留言"/></li>
                </ul>

            </div>
        </form>
        <div class="pagin">
            <div class="message">共<i class="blue">0</i>条留言，当前显示第&nbsp;<i class="blue">1&nbsp;</i>页</div>
            <ul class="paginList">
                <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
                <li class="paginItem"><a href="javascript:;">1</a></li>
                <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
            </ul>
        </div>

        <script type="text/javascript">
      $("#usual1 ul").idTabs();



        </script>

        <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');



        </script>


    </div>
</div>
</body>
</html>
