<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>admin Index page</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    </ul>
    </div>

    <div class="mainindex">


    <div class="welinfo">
    <span><img src="../static/images/sun.png" alt="天气" /></span>
    <b>邓果，欢迎进入学生信息管理系统</b>
    </div>

    <div class="welinfo">
    <span><img src="../static/images/time.png" alt="时间" /></span>
        <i>您上次登录的时间：2017-12-7 14:15:56</i>
    </div>

     <div class="welinfo">
    <span><img src="../static/images/icon08.jpg" alt="提醒" /></span>
    <b>通知栏</b>
    </div>

    <ul class="infolist">
    <li><span>考试相关事宜：</span><a class="ibtn">考试安排</a></li>
    <li><span>假期通知： 2018-2-13 ～ 2018-2-21</span></li>
    </ul>

    </div>

        <div class="welinfo">
    <span><img src="../static/images/dp.png" alt="提醒" /></span>
    <b>快捷功能</b>
    </div>

    <ul class="infolist">
    <li><span>您可以快速进行课表查询</span><a class="ibtn">查看课表</a></li>
    <li><span>您可以进行密码修改</span><a class="ibtn">修改密码</a></li>
    </ul>


    </div>
</body>
</html>
